@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

.span-title-center {
  font-weight: 600;
  font-size: 18px;
  color: #424242;
  text-align: center;
}

.span-vertical-center {
  font-weight: 600;
  font-size: 18px;
  color: #424242;
  display: flex;
  align-items: center;
}

.center-text {
    text-align: center;
}

.text-wrap {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}