@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

.span-title-center {
  font-weight: 600;
  font-size: 18px;
  color: #424242;
  text-align: center;
}

.span-vertical-center {
  font-weight: 600;
  font-size: 18px;
  color: #424242;
  display: flex;
  align-items: center;
}

.center-text {
    text-align: center;
}

.text-wrap {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/* TEXTAREAS */
.standard-textarea {
    font-family: "Fira Mono", "Consolas", monospace;
    font-size: 1em;
    background: none;
    border: none;
    resize: vertical;
    color: #1565c0;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
}

.standard-textarea::placeholder
{
  color: #90caf9;
  font-style: italic;
}