.center-table {
    display: grid !important;
    grid-template-columns: min-content !important;
    width: auto !important;
    padding: 5px !important;
}

.primary-contact {
    background: lightgreen !important;
}

.bottom-feeder {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
}

