.week-select {
  width: 250px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}

.add-margin-bottom {
  margin-bottom: 15px;
}

.page-header-row-direction {
  position: relative;
}

.page-header-row-direction .stat-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
