.draft-btns {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
    margin-top: 10px;
    background-color: #fff;
    width: 800px;
};

