.post-container {
  width: 80%;
  max-width: 1000px;
  min-width: 50vw;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 25px;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
}


.new-post-form {
  width: 100%;
  margin-top: 20px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.new-post-form.hidden {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .post-container {
    width: 100%;
    min-width: 300px;
    padding: 15px;
  }
 
}