.add-margin-bottom {
  margin-bottom: 15px;
}



.filter-buttons {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.filter-buttons > :last-child {
  margin-left: auto;
}

.filter-buttons h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}



